* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    font-size: 16px;
    background-color: #EFEAEE;
}

/* Mixins */









/* Menu Section */
.campaignDiv {
    background-color: #E3E3E3;
    text-align: center;
    font-size: 14px;
}

.campaignDiv p {
    font-size: inherit;
    padding: 11px;
}

.menuDiv {
    background-color: #EFEAEE;
    padding: 40px;
    position: relative;
}

.menuDiv ul {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.menuDiv ul::after {
    content: "";
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 34%;
    bottom: 22px;
    width: 32%;
    background-color: black;
}


.menuDiv li {
    display: inline-block;
    text-decoration: none;
    padding: 0 22px 0 22px;
}

.menuDiv li a {
    color: black;
    text-decoration: none;
}

.menuDiv li a:hover {
    font-weight: bold;
}

.logoIcon {
    position: absolute;
    top: 12px;
}

.cartIcon {
    position: absolute;
    right: 25px;
    top: 37px;
}

/* Welcome Section */
.welcomeSection {
    position: relative;
    overflow: hidden;
    /*background-size: cover;
    background: url("../Images/background.jpg")*/
}



.welcomeSection img {
    width: 192%;
    max-width: none;
    left: -28%;
    position: relative;
}

@media (min-width: 768px) {
    .welcomeSection img {
        width: 100%;
        max-width: 100%;
        left: 0;
    }
}

.actionBackgroundButtons {
    right: 27%;
    position: absolute;
    top: 41px;
    text-align: center;
}

@media (min-width: 768px) {
    .actionBackgroundButtons {
        right: 58px;
        position: absolute;
        top: 198px;
        text-align: center;
    }
}

.actionBackgroundButtons h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 37px;
}

.actionBackgroundButtons span {
    border: 1px solid black;
    padding: 16px;
    margin-top: 24px;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}

.actionBackgroundButtons span:hover {
    background-color: black;
}


.actionBackgroundButtons span a {
    color: black;
    text-decoration: none;
}

.actionBackgroundButtons span:hover a {
    color: white;
}

/* Footer Section */
.footerSection {
    background-color: #EFEAEE;
    text-align: center;
    margin-top: -8px;
}

.footerNavigation {
    padding: 13px;
    position: relative;
    text-align: center;
}


@media (min-width: 768px) {
    .footerNavigation {
        padding: 37px;
        position: relative;
        text-align: center;
    }
}


.footerNavigation li {
    display: block;
    text-decoration: none;
    margin: 12px 22px;
}

@media (min-width: 768px) {
    .footerNavigation li {
        display: inline-block;
        text-decoration: none;
        margin: 3px 22px;
    }
}


.footerNavigation li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footerNavigation li a:hover {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.footerNavigation::after {
    content: "";
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 12%;
    bottom: 5px;
    width: 76%;
    background-color: black;
}

@media (min-width: 460px) {
    .footerNavigation::after {
        content: "";
        border: 1px solid black;
        display: block;
        position: absolute;
        left: 7%;
        bottom: 5px;
        width: 90%;
        background-color: black;
    }
}


.footerInformation {
    padding: 18px;
    display: inline-block;
    font-size: 13px;
}

@media (min-width: 768px) {
    .footerInformation {
        padding: 37px 15px;
        display: inline-block;
        font-size: 13px;
    }
}

.footerInformation li {
    display: inline-block;
    text-decoration: none;
    margin: 3px 6px;
}

.footerInformation li a {
    text-decoration: none;
    color: black;
}

.socialButtons {
    display: inline-block;
}

.socialButtons li {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    vertical-align: middle;
}

.socialButtons li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.bottomDiv {
    padding-bottom: 28px;
    padding-top: 28px;
}

@media (min-width: 768px) {
    .bottomDiv {
        padding-bottom: 42px;
        padding-top: 0;
    }
}

.paysLogo {
    margin-left: 29px;
}

.paysLogo img {
    max-width: 50%;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .paysLogo img {
        max-width: 30%;
        vertical-align: middle;
    }
}

.tittlePaysLogo {
    font-size: 13px;
}

/* Products section */

.productsSection {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EFEAEE;
    padding: 30px;
}

.productsTitle h1 {
    margin-bottom: 20px;
}

.productsTitle h1 {
    font-weight: bold;
    font-size: 48px;
}

.categoryList {
display: flex;
    flex-wrap: wrap;
    position: relative;

}

.categoryList::after {
    content: "";
    border: 1px solid #7B7B7B;
    display: block;
    position: absolute;
    bottom: -29px;
    width: 1200px;
    background-color: #7B7B7B;
}
.categoryList li {
    display: inline-block;
    background-color: black;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    margin: 7px 9px 0 0;
}

.categoryList li:hover {
    background-color: #EFEAEE;
    border: 1px solid #7B7B7B;
}



.categoryList li a {
    text-decoration: none;
    color: white;
    font-size: 14px;

}

.categoryList li:hover a {
    color: #7B7B7B
}